<div class="row">
   <div class="col-lg-10">
      <div class="panel panel-default">
         <div class="panel-body">
            <tabset>
               <tab heading="Basic info">
                  <legend>General</legend>
                  <div class="row">
                     <div class="col-lg-3">
                        <div class="box-placeholder" style="height:200px">
                           <i class="logo-icon fa fa-times fa-lg"></i>
                        </div>
                        <div class="footer-placeholder">
                           Corporate Logo
                        </div>
                     </div>
                     <div class="col-lg-1"></div>
                     <div class="col-lg-7">
                        <div class="row">
                           <form class="form-horizontal">
                              <div class="form-group">
                                 <label class="col-lg-2 control-label">Username</label>
                                 <div class="col-lg-10">
                                    <input ng-model="model.username" type="text" placeholder="" class="form-control" />
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-lg-2 control-label">Biseness address</label>
                                 <div class="col-lg-10">
                                    <input ng-model="model.bisenessAddress" type="text" placeholder="" class="form-control" />
                                 </div>
                              </div>
                              <div class="form-group">
                                 <div class="col-lg-4">
                                    <input type="text" ng-model="model.city" placeholder="City" typeahead="address for address in getCity($viewValue)" typeahead-loading="loadingLocations" class="form-control">
                                 </div>
                                 <div class="col-lg-4">
                                    <input type="text" ng-model="model.state" placeholder="State" typeahead="address for address in getState($viewValue)" typeahead-loading="loadingLocations" class="form-control">
                                 </div>
                                 <div class="col-lg-4">
                                    <input type="text" ng-model="model.country" placeholder="Country" typeahead="address for address in getCountry($viewValue)" typeahead-loading="loadingLocations" class="form-control">
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
                  <hr>
                  <label style="font-size: 14pt;">What service you offer</label>
                  <div class="row">
                     <div class="col-lg-2">
                     </div>
                     <div class="col-lg-3">
                        <div class="radio">
                           <label>
                              <input ng-model="model.serviceOffer" type="radio" name="optionsRadios" value="privateJet">PRIVATE JET
                           </label>
                        </div>
                        <br>
                        <div class="radio">
                           <label>
                              <input ng-model="model.serviceOffer" type="radio" name="optionsRadios" value="helicopter">HELICOPTER
                           </label>
                        </div>
                        <br>
                        <div class="radio">
                           <label>
                              <input ng-model="model.serviceOffer" type="radio" name="optionsRadios" value="automobile">AUTOMOBILE
                           </label>
                        </div>
                        <br>
                        <div class="radio">
                           <label>
                              <input ng-model="model.serviceOffer" type="radio" name="optionsRadios" value="yacht">YACHT
                           </label>
                        </div>
                     </div>
                     <div class="col-lg-3">
                        <div class="radio">
                           <label>
                              <input ng-model="model.serviceOffer" type="radio" name="optionsRadios" value="thePlace">THE PLACE
                           </label>
                        </div>
                        <br>
                        <div class="radio">
                           <label>
                              <input ng-model="model.serviceOffer" type="radio" name="optionsRadios" value="vacationTrip">VACATION TRIP
                           </label>
                        </div>
                        <br>
                        <div class="radio">
                           <label>
                              <input ng-model="model.serviceOffer" type="radio" name="optionsRadios" value="banquestHall">BANQUEST HALL
                           </label>
                        </div>
                        <br>
                        <div class="radio">
                           <label>
                              <input ng-model="model.serviceOffer" type="radio" name="optionsRadios" value="jewerlyApparel">JEWERLY & APPAREL
                           </label>
                        </div>
                     </div>
                  </div>
                  <br>
                  <legend>Sales Department Contact Information</legend>
                  <div class="row">
                     <div class="col-lg-2">
                     </div>
                     <div class="col-lg-4">
                        <form class="form-horizontal">
                           <div class="form-group">
                              <label class="col-lg-3 control-label">Email</label>
                              <div class="col-lg-7">
                                 <input ng-model="model.email" type="text" placeholder="" class="form-control" />
                              </div>
                              <span class="col-lg-2"><i class="fa fa-plus fa-lg"></i>
                              </span>
                           </div>
                           <div class="form-group">
                              <label class="col-lg-3 control-label">Website</label>
                              <div class="col-lg-7">
                                 <input ng-model="model.website" type="text" placeholder="" class="form-control" />
                              </div>
                              <span class="col-lg-2"><i class="fa fa-plus fa-lg"></i>
                              </span>
                           </div>
                           <div class="form-group">
                              <label class="col-lg-3 control-label">Phone</label>
                              <div class="col-lg-6">
                                 <input ng-model="model.phone" type="text" placeholder="" class="form-control" />
                              </div>
                              <span class="col-lg-1"></span>
                              <span class="col-lg-2"><i class="fa fa-plus fa-lg"></i>
                              </span>
                           </div>
                           <div class="form-group">
                              <label class="col-lg-3 control-label">Fax</label>
                              <div class="col-lg-6">
                                 <input ng-model="model.fax" type="text" placeholder="" class="form-control" />
                              </div>
                              <span class="col-lg-1"></span>
                              <span class="col-lg-2"><i class="fa fa-plus fa-lg"></i>
                              </span>
                           </div>
                        </form>
                     </div>
                     <div class="col-lg-4">
                        <form class="form-horizontal">
                           <div style="visibility: hidden ">
                              <div class="form-group">
                                 <label class="col-lg-3 control-label"></label>
                                 <div class="col-lg-7">
                                    <input type="text" placeholder="" class="form-control" />
                                 </div>
                                 <span class="col-lg-2"><i class="fa fa-plus fa-lg"></i>
                                 </span>
                              </div>
                              <div class="form-group">
                                 <label class="col-lg-3 control-label"></label>
                                 <div class="col-lg-7">
                                    <input type="text" placeholder="" class="form-control" />
                                 </div>
                                 <span class="col-lg-2"><i class="fa fa-plus fa-lg"></i>
                                 </span>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="col-lg-3 control-label">Phone 2</label>
                              <div class="col-lg-6">
                                 <input ng-model="model.phoneSecond" type="text" placeholder="" class="form-control" />
                              </div>
                              <span class="col-lg-2"><i class="fa fa-plus fa-lg"></i>
                              </span>
                           </div>
                        </form>
                     </div>
                  </div>
                  <legend>Social</legend>
                  <div class="row">
                     <div class="col-lg-2">
                     </div>
                     <div class="col-lg-4">
                        <form class="form-horizontal">
                           <div class="form-group">
                              <label class="col-lg-3 control-label">Facebook</label>
                              <div class="col-lg-7">
                                 <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-facebook"></i>
                                    </span>
                                    <input ng-model="model.social.facebook" type="text" placeholder="" class="form-control" />
                                 </div>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="col-lg-3 control-label">Twitter</label>
                              <div class="col-lg-7">
                                 <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-twitter"></i>
                                    </span>
                                    <input ng-model="model.social.twitter" type="text" placeholder="" class="form-control" />
                                 </div>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="col-lg-3 control-label">Google+</label>
                              <div class="col-lg-7">
                                 <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-google-plus"></i>
                                    </span>
                                    <input ng-model="model.social.google" type="text" placeholder="" class="form-control" />
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </tab>
               <tab heading="Additional Business Locations">
                  <div class="row">
                     <div class="col-lg-6">
                        <div class="row">
                           <form class="form-horizontal">
                              <div class="form-group">
                                 <span class="col-lg-1"></span>
                                 <label class="col-lg-3 control-label srf">Biseness address</label>
                                 <div class="col-lg-6">
                                    <input type="text" placeholder="" class="form-control" />
                                 </div>
                              </div>
                              <div class="form-group">
                                 <span class="col-lg-1"></span>
                                 <div class="col-lg-3">
                                    <input type="text" placeholder="City" class="form-control" />
                                 </div>
                                 <div class="col-lg-3">
                                    <input type="text" placeholder="State" class="form-control" />
                                 </div>
                                 <div class="col-lg-3">
                                    <input type="text" placeholder="Country" class="form-control" />
                                 </div>
                                 <span class="col-lg-1"><i class="fa fa-plus fa-lg"></i>
                                 </span>
                              </div>
                           </form>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                           <form class="form-horizontal">
                              <div class="form-group">
                                 <span class="col-lg-1"></span>
                                 <label class="col-lg-3 control-label srf">Biseness address</label>
                                 <div class="col-lg-6">
                                    <input type="text" placeholder="" class="form-control" />
                                 </div>
                              </div>
                              <div class="form-group">
                                 <span class="col-lg-1"></span>
                                 <div class="col-lg-3">
                                    <input type="text" placeholder="City" class="form-control" />
                                 </div>
                                 <div class="col-lg-3">
                                    <input type="text" placeholder="State" class="form-control" />
                                 </div>
                                 <div class="col-lg-3">
                                    <input type="text" placeholder="Country" class="form-control" />
                                 </div>
                                 <span class="col-lg-1"><i class="fa fa-plus fa-lg"></i>
                                 </span>
                              </div>
                           </form>
                        </div>
                     </div>
                     <div class="col-lg-6">
                        <div class="box-placeholder" style="height:300px"></div>
                     </div>
                  </div>
               </tab>
               <tab heading="Password">
                  <div class="row">
                     <div class="col-lg-1">
                     </div>
                     <div class="col-lg-4">
                        <div class="row">
                           <div class="col-lg-12">
                              <form class="form-horizontal">
                                 <div class="form-group">
                                    <label class="col-lg-4 control-label">New passwors</label>
                                    <div class="col-lg-6">
                                       <input ng-model="model.newPassword" type="password" placeholder="" class="form-control" />
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="col-lg-4 control-label">Confirm passwors</label>
                                    <div class="col-lg-6">
                                       <input ng-model="model.confirmPassword" type="password" placeholder="" class="form-control" />
                                    </div>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </tab>
            </tabset>
            <div class="footer-panel">
               <div class="row">
                  <div class="col-lg-2">
                  </div>
                  <div class="col-lg-4">
                     <form class="form-horizontal">
                        <div class="form-group">
                           <label class="col-lg-3 control-label"></label>
                           <div class="col-lg-7">
                              <a ng-click="saveData()" class="btn btn-primary" href="#">
                                 <i class="fa fa-check fa-lg"></i>Save</a>
                              <a ng-click="resetData()" class="btn btn-default" href="#">
                                 <i class="fa fa-refresh fa-lg"></i>Reset</a>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
