<div class="row">
   <div class="col-lg-10">
      <div class="panel panel-default">
         <div class="panel-body">
            <tabset>
               <tab heading="Basic info">
                  <legend>General</legend>
                  <div class="row">
                     <div class="col-lg-3">
                        <div class="box-placeholder" style="height:150px">
                           <i class="logo-icon fa fa-times fa-lg"></i>
                        </div>
                        <div class="footer-placeholder" style="opacity:0.5">
                           image.jpg
                        </div>
                     </div>
                     <div class="col-lg-1"></div>
                     <div class="col-lg-6">
                        <form class="form-horizontal">
                           <div class="form-group">
                              <label ng-model="model.username" class="col-lg-2 control-label">Username</label>
                              <div class="col-lg-6">
                                 <input type="email" placeholder="" class="form-control" />
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="col-lg-2 control-label">Name</label>
                              <div class="row">
                                 <div class="col-lg-2">
                                    <input ng-model="model.firstName" type="text" placeholder="" class="form-control" />
                                 </div>
                                 <div class="col-lg-3">
                                    <input ng-model="model.secondName" type="text" placeholder="" class="form-control" />
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
                  <hr>
                  <div class="row">
                     <div class="col-lg-2">
                     </div>
                     <div class="col-lg-4">
                        <form class="form-horizontal">
                           <div class="form-group">
                              <label class="col-lg-3 control-label">Birth Date</label>
                              <div class="col-lg-6">
                                 <p class="input-group">
                                    <input ng-model="model.birthDate" type="text" datepicker-popup="{{format}}" is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" class="form-control" />
                                    <span class="input-group-btn">
                                       <button type="button" ng-click="open($event)" class="btn btn-default">
                                          <em class="fa fa-calendar"></em>
                                       </button>
                                    </span>
                                 </p>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="col-lg-3 control-label">Gender</label>
                              <div class="col-lg-6">
                                 <label class="radio-inline">
                                    <input ng-model="model.gender" type="radio" name="inlineRadioOptions" value="male">Male
                                 </label>
                                 <label class="radio-inline">
                                    <input ng-model="model.gender" type="radio" name="inlineRadioOptions" value="female">Female
                                 </label>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="col-lg-3 control-label">Comment</label>
                              <div class="col-lg-6">
                                 <textarea ng-model="model.comment" class="form-control" cols="25"></textarea>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
                  <legend>Contact</legend>
                  <div class="row">
                     <div class="col-lg-2">
                     </div>
                     <div class="col-lg-4">
                        <form class="form-horizontal">
                           <div class="form-group">
                              <label class="col-lg-3 control-label">Email</label>
                              <div class="col-lg-7">
                                 <input ng-model="model.email" type="email" placeholder="" class="form-control" />
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="col-lg-3 control-label">Website</label>
                              <div class="col-lg-7">
                                 <input ng-model="model.website" type="text" placeholder="" class="form-control" />
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="col-lg-3 control-label">Phone</label>
                              <div class="col-lg-6">
                                 <input ng-model="model.phone" type="tel" placeholder="" class="form-control" />
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
                  <legend>Social</legend>
                  <div class="row">
                     <div class="col-lg-2">
                     </div>
                     <div class="col-lg-4">
                        <form class="form-horizontal">
                           <div class="form-group">
                              <label class="col-lg-3 control-label">Facebook</label>
                              <div class="col-lg-7">
                                 <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-facebook"></i>
                                    </span>
                                    <input ng-model="model.social.facebook" type="text" placeholder="" class="form-control" />
                                 </div>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="col-lg-3 control-label">Twitter</label>
                              <div class="col-lg-7">
                                 <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-twitter"></i>
                                    </span>
                                    <input ng-model="model.social.twitter" type="text" placeholder="" class="form-control" />
                                 </div>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="col-lg-3 control-label">Google+</label>
                              <div class="col-lg-7">
                                 <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-google-plus"></i>
                                    </span>
                                    <input ng-model="model.social.google" type="text" placeholder="" class="form-control" />
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </tab>
               <tab heading="Settings">
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="checkbox">
                           <label>
                              <input ng-model="model.publicName.status" type="checkbox" id="checkboxSuccess" value="true">Use Alias Name when communicating wuth public &nbsp&nbsp
                              <input ng-model="model.publicName.value" type="text" class="forn-control" placeholder="name">
                           </label>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="checkbox">
                           <label>
                              <input ng-model="model.newEmailUpdate" type="checkbox" id="checkboxSuccess" value="true">Email me new update
                           </label>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="checkbox">
                           <label>
                              <input ng-model="model.keepHistory.status" type="checkbox" id="checkboxSuccess" value="true">Keep a history of me conversations for &nbsp&nbsp
                              <input ng-model="model.keepHistory.value" type="text" class="forn-control" style="width:50px" />&nbsp&nbspdays
                           </label>
                        </div>
                     </div>
                  </div>
               </tab>
               <tab heading="Password">
                  <div class="row">
                     <div class="col-lg-1">
                     </div>
                     <div class="col-lg-4">
                        <div class="row">
                           <div class="col-lg-12">
                              <form class="form-horizontal">
                                 <div class="form-group">
                                    <label class="col-lg-4 control-label">New passwors</label>
                                    <div class="col-lg-6">
                                       <input ng-model="model.newPassword" type="password" placeholder="" class="form-control" />
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="col-lg-4 control-label">Confirm passwors</label>
                                    <div class="col-lg-6">
                                       <input ng-model="model.confirmPassword" type="password" placeholder="" class="form-control" />
                                    </div>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </tab>
            </tabset>
            <div class="footer-panel">
               <div class="row">
                  <div class="col-lg-2">
                  </div>
                  <div class="col-lg-4">
                     <form class="form-horizontal">
                        <div class="form-group">
                           <label class="col-lg-3 control-label"></label>
                           <div class="col-lg-7">
                              <a ng-click="saveData()" class="btn btn-primary" href="#">
                                 <i class="fa fa-check fa-lg"></i>Save</a>
                              <a ng-click="resetData()" class="btn btn-default" href="#">
                                 <i class="fa fa-refresh fa-lg"></i>Reset</a>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


