<div class="row">
   <div class="col-lg-8">
      <ul class="list-unstyled">
         <li class="panel" style="margin-top:20px;   padding: 5px;">
            <table style="width:100%">
               <tr>
                  <td style="width:4%; height:60px">
                     <img src="app/img/dummy.png" style="margin:10px">
                  </td>
                  <td style="width:8%; height:60px; text-align:center; padding-top: 10px;">
                     <p>PRIVATE JET</p>
                     <p style="margin-top:-10px;">From SFO to JFK</p>
                  </td>
                  <td style="width:15%; height:60px; text-align:center; padding-top: 10px;">
                     <p>SCHEDULED</p>
                     <p style="margin-top:-10px;">Jan 16, 2015 at 7PM PST</p>
                  </td>
                  <td style="width:10%; height:60px; text-align:center; padding-top: 10px;">
                     <p>CONFIRMED</p>
                     <p style="margin-top:-10px;">4 hours ago</p>
                  </td>
                  <td style="width:10%; height:60px; text-align:center; padding-top: 10px;">
                     <p>GROUP</p>
                     <p style="margin-top:-10px;"> <i class="fa fa-user"></i> 26</p>
                  </td>
                  <td style="width:10%; height:60px; text-align:center; padding-top: 10px;">
                     <p>PRICE</p>
                     <p style="margin-top:-10px;"> <i class="fa fa-file-o"></i> 3500</p>
                  </td>
                  <td style="width:10%; height:60px; text-align:center; padding-top: 10px;">
                     <p>AVAILABILUTY</p>
                     <p style="color:green; font-weight: 600; font-size: 12pt; margin-top:-15px;">10</p>
                  </td>
               </tr>
            </table>
         </li>
         <li class="panel" style="margin-top:20px;   padding: 5px;">
            <table style="width:100%">
               <tr>
                  <td style="width:4%; height:60px">
                     <img src="app/img/dummy.png" style="margin:10px">
                  </td>
                  <td style="width:8%; height:60px; text-align:center; padding-top: 10px;">
                     <p>PRIVATE JET</p>
                     <p style="margin-top:-10px;">From SFO to JFK</p>
                  </td>
                  <td style="width:15%; height:60px; text-align:center; padding-top: 10px;">
                     <p>SCHEDULED</p>
                     <p style="margin-top:-10px;">Jan 16, 2015 at 7PM PST</p>
                  </td>
                  <td style="width:10%; height:60px; text-align:center; padding-top: 10px;">
                     <p>CONFIRMED</p>
                     <p style="margin-top:-10px;">4 hours ago</p>
                  </td>
                  <td style="width:10%; height:60px; text-align:center; padding-top: 10px;">
                     <p>GROUP</p>
                     <p style="margin-top:-10px;"> <i class="fa fa-user"></i> 26</p>
                  </td>
                  <td style="width:10%; height:60px; text-align:center; padding-top: 10px;">
                     <p>PRICE</p>
                     <p style="margin-top:-10px;"> <i class="fa fa-file-o"></i> 3500</p>
                  </td>
                  <td style="width:10%; height:60px; text-align:center; padding-top: 10px;">
                     <p>AVAILABILUTY</p>
                     <p style="color:green; font-weight: 600; font-size: 12pt; margin-top:-15px;">10</p>
                  </td>
               </tr>
            </table>
         </li>
         <li class="panel" style="margin-top:20px;   padding: 5px;">
            <table style="width:100%">
               <tr>
                  <td style="width:4%; height:60px">
                     <img src="app/img/dummy.png" style="margin:10px">
                  </td>
                  <td style="width:8%; height:60px; text-align:center; padding-top: 10px;">
                     <p>PRIVATE JET</p>
                     <p style="margin-top:-10px;">From SFO to JFK</p>
                  </td>
                  <td style="width:15%; height:60px; text-align:center; padding-top: 10px;">
                     <p>SCHEDULED</p>
                     <p style="margin-top:-10px;">Jan 16, 2015 at 7PM PST</p>
                  </td>
                  <td style="width:10%; height:60px; text-align:center; padding-top: 10px;">
                     <p>CONFIRMED</p>
                     <p style="margin-top:-10px;">4 hours ago</p>
                  </td>
                  <td style="width:10%; height:60px; text-align:center; padding-top: 10px;">
                     <p>GROUP</p>
                     <p style="margin-top:-10px;"> <i class="fa fa-user"></i> 26</p>
                  </td>
                  <td style="width:10%; height:60px; text-align:center; padding-top: 10px;">
                     <p>PRICE</p>
                     <p style="margin-top:-10px;"> <i class="fa fa-file-o"></i> 3500</p>
                  </td>
                  <td style="width:10%; height:60px; text-align:center; padding-top: 10px;">
                     <p>AVAILABILUTY</p>
                     <p style="color:green; font-weight: 600; font-size: 12pt; margin-top:-15px;">10</p>
                  </td>
               </tr>
            </table>
         </li>
         <li class="panel" style="margin-top:20px;   padding: 5px;">
            <table style="width:100%">
               <tr>
                  <td style="width:4%; height:60px">
                     <img src="app/img/dummy.png" style="margin:10px">
                  </td>
                  <td style="width:8%; height:60px; text-align:center; padding-top: 10px;">
                     <p>PRIVATE JET</p>
                     <p style="margin-top:-10px;">From SFO to JFK</p>
                  </td>
                  <td style="width:15%; height:60px; text-align:center; padding-top: 10px;">
                     <p>SCHEDULED</p>
                     <p style="margin-top:-10px;">Jan 16, 2015 at 7PM PST</p>
                  </td>
                  <td style="width:10%; height:60px; text-align:center; padding-top: 10px;">
                     <p>CONFIRMED</p>
                     <p style="margin-top:-10px;">4 hours ago</p>
                  </td>
                  <td style="width:10%; height:60px; text-align:center; padding-top: 10px;">
                     <p>GROUP</p>
                     <p style="margin-top:-10px;"> <i class="fa fa-user"></i> 26</p>
                  </td>
                  <td style="width:10%; height:60px; text-align:center; padding-top: 10px;">
                     <p>PRICE</p>
                     <p style="margin-top:-10px;"> <i class="fa fa-file-o"></i> 3500</p>
                  </td>
                  <td style="width:10%; height:60px; text-align:center; padding-top: 10px;">
                     <p>AVAILABILUTY</p>
                     <p style="color:green; font-weight: 600; font-size: 12pt; margin-top:-15px;">10</p>
                  </td>
               </tr>
            </table>
         </li>
      </ul>
   </div>
</div>