<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Home Page">
    <meta name="keywords" content="homepage">
    <link rel="stylesheet" href="app/css/app.css" data-ng-if="!app.layout.isRTL">
    <link rel="stylesheet" href="app/css/app-rtl.css" data-ng-if="app.layout.isRTL">

    <!-- custom style -->
    <link rel="stylesheet" href="app/css/style.css" >
    <title>Homepage</title>
</head>

<body>
<a href="/login">Login</a>
</body>

</html>
